# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# Environment
.env

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Capture/temp
*.PNG
*.png
*.jpg
